/*regole di Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*regole di layout*/

.body {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*Header*/

.col-fixed {
    flex-basis: 150px;
}

.col-grow {
    flex-grow: 1;
}

.logo {
    text-align: left;
}

.login {
    text-align: right;
}

.link {
    text-align: center;
}

/*Section 1*/
.section {
    padding: 10px;
}

#section-1 .row {
    justify-content: center;
}

.col-12 {
    flex-grow: 1;
}
/*DEBUG*/

.debug .body {
    min-height: 100% vh;
}

.debug .header {
    background-color: #add8e6;
    min-height: 30px;
    padding: 5px;
}

.debug .row {
    background-color: #daa520; 
    min-height: 20px;
}

.debug .col-fixed {
    border: 1px black dashed;
    padding: 4px;
}

.debug .section .row {
    min-height: 200px;;
}

.debug .col-grow {
    border: 1px black dashed;
    padding: 4px;
}

.debug *[class="section"] {  
    min-height: 200px;
}

.debug #section-1 {
    background-color: #00008b; 
}

.debug #section-1 .row {
    background-color:  #00008b;
}

.debug .col-12 {
    background-color: #ee82ee;
    max-width: 750px;
}

